pkgbase = luks-tools-git
	pkgdesc = A collection of LUKS related scripts.
	pkgver = 0.0.0.0.0.1.1.r8.gcc2a761
	pkgrel = 1
	url = https://github.com/themartiancompany/luks-tools
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = git
	depends = cryptsetup
	optdepends = python-pygments: colorized output
	optdepends = python2-pygments: colorized output
	provides = luks-tools=0.0.0.0.0.1.1.r8.gcc2a761
	provides = mkluks=0.0.0.0.0.1.1.r8.gcc2a761
	conflicts = luks-tools
	source = git+https://github.com/themartiancompany/luks-tools#branch=master
	sha256sums = SKIP

pkgname = luks-tools-git
